.token.lf:before, .token.tab:not(:empty):before {
    content: '';
}

pre[class*=language-]>code[data-language] {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
}

[contenteditable]:focus {
    outline: none;
}

#bar {
    display: none;
    position: fixed;
    width:  100%;
    bottom: 0;
    left: 0;
    padding:  25px;
    z-index: 99;
    font-size: 1.2em;
}

.message-info {
    background-color: #e0fdde;
    border: 1px solid #d4e6cc;
    color: #0a7d01;
}

.message-alert {
    background-color: #f7fdd2;
    border: 1px solid #d2d8b2;
    color: #919036;
    font-size: 1.2em;
}

.message-error {
    background-color: #fde4e1;
    border: 1px solid #c7b8ad;
    color: #781c0e;
    font-size: 1.2em;
}

#fs {
    font-size: 1.3em;
}

#fs ul {
    list-style-type: none;
}

#root {

}

#container {
    margin-top: 1em;
}

#subject {
    margin-bottom: 2em;
}

#subject .highlight {
    color: #cc0033;
    margin-left: 0.3em;
}

.resource {
    padding: 10px;
}

.resource.active {
    background-color: #cccccc;
}

.resource.open {
    background-color: #eaf6e8;
}

* {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}