.token.lf:before, .token.tab:not(:empty):before {
    content: '';
}

pre[class*=language-]>code[data-language] {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
}

[contenteditable]:focus {
    outline: none;
}

#bar {
    display: none;
    position: absolute;
    width:  100%;
    bottom: 0;
    left: 0;
    padding:  25px;
    z-index: 99;
    font-size: 1.2em;
}

.message-info {
    background-color: #e0fdde;
    border: 1px solid #d4e6cc;
    color: #0a7d01;
}

.message-alert {
    background-color: #f7fdd2;
    border: 1px solid #d2d8b2;
    color: #919036;
    font-size: 1.2em;
}

* {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}